@import '../../config.all';
.service-card {
  max-width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 1rem;
  border-radius: 7px;
  position: relative;
  border: 1px solid #e6e2df;
  overflow: hidden;
  margin: 20px 0;
  &--horiz {
    display: flex;
    flex-direction: row;
    max-width: 48%;
    @media (max-width: 590px) {
      flex-direction: column;
    }
    @media (max-width: 1243px) {
      max-width: 98%;
    }
  }
  &__link {
  }
  &__title {
  }
  &__content {
    padding: 2rem 1.5rem 1.5rem;
  }
  @media (max-width: $mobile) {
    max-width: 97%;
    margin: 20px auto;
  }
}
