.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: beige;
  @media (max-width: 1054px) {
    flex-direction: column-reverse;
  }
  &-content {
    @media (min-width: 1054px) {
      width: 50%;
    }
  }
  &-media {
    @media (min-width: 1054px) {
      width: 50%;
    }
  }
}
