{{ attach_library('pattrenlab/services-list')}}

<div class="services">
  <div class="services__heading">
    {% include "@atoms/text/heading/heading.twig" with {
      "title": sectionTitle,
      "heading": "h2",
      "modifier": "head"
    } %}
    {% include "@atoms/text/paragraph/paragraph.twig" with {
      "tag": "strong",
      "text": sectionDescription,
      "modifier": ""
    } %}
  </div>
  <div class="services-list">
{# {{ dump(drupal_view_rows) }} #}
  {% if drupal_view_rows %}
    {% for row in drupal_view_rows %}
      {{- row.content -}}
    {% endfor %}
  {% endif %}

  {# only for pattrenlab #}
    {% if services %}
      {% for service in services %}
        {% include "@molecules/service-card/service-card.twig" with {
          "imgSrc": service.imgSrc,
          "title": service.title,
          "cardDecription": service.cardDecription
        } %}
      {% endfor %}
    {% endif %}
  </div>
</div>