.img {
  max-width: 100%;
  &-hover {
    transition: all ease-in-out 0.5s;
    &:hover {
      opacity: 0.8;
    }
  }
  &-logo {
    max-width: 250px;
    @media (max-width: 768px) {
      max-width: 100px;
    }
  }
}
.img-fix-height {
  height: 250px;
}
